{{#each stars as |star|}}
  {{!-- <span {{bind-attr class=":star-rating :glyphicon star.full:glyphicon-star:glyphicon-star-empty"}} {{action "set" star.rating}}></span> --}}
  <span class="star-rating glyphicon {{if star.full 'glyphicon-star' 'glyphicon-star-empty'}}" {{action "set" star.rating}}></span>
{{/each}}